package cmd

import (
	"fmt"
	"os"

	"github.com/gofunct/gorpc/internal"
)

var cfgFile string

var RootCmd = internal.BaseCommand("{{ .Name }}", "A gRPC based service")

func Execute() {
	if err := RootCmd.Execute(); err != nil {
		fmt.Println(err)
		os.Exit(-1)
	}
}
